body {
    background-color: #141414;
    color: white;
    font-family: Verdana;
    margin: 20px;
}
  
.squares {
    display: flex;
    justify-content: center;
}
.icon1 {
    padding: 40px;
    background: #212121;
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
    border-style: ridge;
    display: flex;
    align-items: center;
    justify-content: center;
}
